In [2]:
import pandas as pd

In [3]:
tips = pd.read_csv(r"C:\Users\Lenovo\Desktop\seaborn-data\tips.csv")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

#### Mean of total bill

In [8]:
bill_mean = tips['total_bill'].mean()
bill_mean

19.78594262295082

###### Range of total bill

In [4]:
tips['total_bill'].max() - tips['total_bill'].min()

47.74

##### Variance of total bill

In [21]:
tips['total_bill'].var()

79.25293861397826

##### Standard Deviation of total bill

In [12]:
bill_standard_deviation = tips['total_bill'].std()
bill_standard_deviation

8.902411954856856

##### First Standard Deviation of total bill (Upper bound)

In [14]:
bill_mean + bill_standard_deviation

28.688354577807676

##### Second Standard Deviation of total bill (Upper bound)

In [15]:
bill_mean + (2*bill_standard_deviation)

37.59076653266453

##### Third Standard Deviation of total bill (Upper bound)

In [16]:
bill_mean + (3*bill_standard_deviation)

46.49317848752139

##### First Standard Deviation of total bill (Lower bound)

In [18]:
bill_mean - bill_standard_deviation

10.883530668093965

##### Second Standard Deviation of total bill (Lower bound)

In [19]:
bill_mean - (2*bill_standard_deviation)

1.9811187132371089

##### Third Standard Deviation of total bill (Lower bound)

In [20]:
bill_mean - (3*bill_standard_deviation)

-6.921293241619747

In [22]:
taxis  = pd.read_csv(r"C:\Users\Lenovo\Desktop\seaborn-data\taxis.csv")
taxis

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

##### Mean of Fare

In [24]:
fare_mean = taxis['fare'].mean()
fare_mean

13.091072594434944

##### Range of Fare

In [25]:
taxis['fare'].max() - taxis['fare'].min()

149.0

##### Variance of Fare

In [26]:
taxis['fare'].var()

133.4441818095617

##### Standard deviation of fare

In [28]:
fare_standard_deviation = taxis['fare'].std()
fare_standard_deviation

11.55180426641491

##### First Standard deviation of fare (Upper bound)

In [29]:
fare_mean + fare_standard_deviation

24.642876860849853

##### Second Standard deviation of fare (Upper bound)

In [30]:
fare_mean + (2*fare_standard_deviation)

36.194681127264765

##### Third Standard deviation of fare (Upper bound)

In [41]:
fare_mean + (3*fare_standard_deviation)

47.74648539367968

##### First standard deviation of fare (lower bound)

In [35]:
bfare_mean - fare_standard_deviation

1.539268328020034

##### Second standard deviation of fare (lowerbound)

In [36]:
fare_mean - (2*fare_standard_deviation)

-10.012535938394876

##### Third standard deviation of fare (lowerbound)

In [37]:
fare_mean - (3*fare_standard_deviation)

-21.564340204809785

In [47]:
cars = pd.read_csv(r"C:\Users\Lenovo\Documents\Car Data.csv.xls")
cars

      Car ID      Brand     Model  Year   Color  Mileage  Price       Location
0          1     Toyota     Camry  2018   White    45000  18000    Los Angeles
1          2      Honda     Civic  2019    Blue    35000  16000       New York
2          3       Ford     Focus  2017  Silver    55000  14000        Chicago
3          4  Chevrolet     Cruze  2016     Red    60000  12000          Miami
4          5    Hyundai   Elantra  2018   Black    40000  15000  San Francisco
...      ...        ...       ...   ...     ...      ...    ...            ...
1995    1996    Hyundai  Palisade  2019  Silver    65000  22000  San Francisco
1996    1997     Toyota    Sienna  2018     Red    55000  16000         Dallas
1997    1998      Honda       Fit  2018    Gray    50000  14000        Atlanta
1998    1999       Ford    Fusion  2017   White    55000  19000        Phoenix
1999    2000  Chevrolet    Malibu  2016    Blue    30000  23000        Houston

[2000 rows x 8 columns]

##### Mean of price

In [50]:
price_mean = cars['Price'].mean()
price_mean

19605.0

##### Range of price

In [52]:
cars['Price'].max() - cars['Price'].min()

17000

##### Variance of Price

In [53]:
cars['Price'].var()

22825387.693846922

##### Standard deviation

In [56]:
price_std  = cars['Price'].std()
price_std

4777.592248596245

##### First Standard deviation (upper bound)

In [58]:
price_mean + price_std

24382.592248596244

##### Second Standard deviation (upper bound)

In [60]:
price_mean + (2*price_std)

29160.184497192487

##### Third Standard deviation (upper bound)

In [61]:
price_mean + (3*price_std)

33937.77674578874

##### First standard deviation (lower bound)

In [62]:
price_mean - price_std

14827.407751403756

##### Second standard deviation (lower bound)

In [64]:
price_mean - (2*price_std)

10049.81550280751

##### Third standard deviation (lower bound)

In [65]:
price_mean - (3*price_std)

5272.223254211265